{% extends "layout.html" %}

{% load static %}

{% block page_title %}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'books/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <p>
                    <img style="width: 25%;" src="{{ book.image.url }}">
                    <strong>{{ book.title }}</strong> isimli kitabı silmek istediğinizden emin misiniz?

                    <form action="{% url "book_delete" book.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Evet</button>
                        <a href="{% url "book_list" %}" class="btn btn-primary">Hayır</a>
                    </form>
                </p>
            </div>
        </div>
    </div>
{% endblock  %}

{% block js_files %}
    <script src="{% static 'books/js/script.js'%}"></script>
{% endblock  %}

